node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/modules.xml
/.idea/react-native-app-navigation.iml
/.idea/vcs.xml
/.idea/.gitignore
